.fireflies {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fireflies li {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5),
              0 0 20px 10px rgba(255, 255, 255, 0.3);
  animation: move 15s infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(var(--tx), var(--ty));
    opacity: 0;
  }
}

/* Generate random positions for each firefly */
.fireflies li:nth-child(1) { --tx: 100px; --ty: -50px; left: 10%; top: 20%; animation-delay: 0s; }
.fireflies li:nth-child(2) { --tx: -80px; --ty: 100px; left: 20%; top: 30%; animation-delay: 1s; }
.fireflies li:nth-child(3) { --tx: 120px; --ty: -70px; left: 30%; top: 40%; animation-delay: 2s; }
.fireflies li:nth-child(4) { --tx: -90px; --ty: 80px; left: 40%; top: 50%; animation-delay: 3s; }
.fireflies li:nth-child(5) { --tx: 70px; --ty: -60px; left: 50%; top: 60%; animation-delay: 4s; }
.fireflies li:nth-child(6) { --tx: -100px; --ty: 90px; left: 60%; top: 70%; animation-delay: 5s; }
.fireflies li:nth-child(7) { --tx: 80px; --ty: -80px; left: 70%; top: 80%; animation-delay: 6s; }
.fireflies li:nth-child(8) { --tx: -70px; --ty: 70px; left: 80%; top: 90%; animation-delay: 7s; }
.fireflies li:nth-child(9) { --tx: 90px; --ty: -90px; left: 90%; top: 10%; animation-delay: 8s; }
.fireflies li:nth-child(10) { --tx: -120px; --ty: 60px; left: 10%; top: 80%; animation-delay: 9s; }
.fireflies li:nth-child(11) { --tx: 60px; --ty: -100px; left: 20%; top: 90%; animation-delay: 10s; }
.fireflies li:nth-child(12) { --tx: -70px; --ty: 90px; left: 30%; top: 10%; animation-delay: 11s; }
.fireflies li:nth-child(13) { --tx: 100px; --ty: -80px; left: 40%; top: 20%; animation-delay: 12s; }
.fireflies li:nth-child(14) { --tx: -90px; --ty: 70px; left: 50%; top: 30%; animation-delay: 13s; }
.fireflies li:nth-child(15) { --tx: 80px; --ty: -90px; left: 60%; top: 40%; animation-delay: 14s; }
.fireflies li:nth-child(16) { --tx: -100px; --ty: 80px; left: 70%; top: 50%; animation-delay: 15s; }
.fireflies li:nth-child(17) { --tx: 70px; --ty: -70px; left: 80%; top: 60%; animation-delay: 16s; }
.fireflies li:nth-child(18) { --tx: -80px; --ty: 100px; left: 90%; top: 70%; animation-delay: 17s; }
.fireflies li:nth-child(19) { --tx: 90px; --ty: -60px; left: 10%; top: 40%; animation-delay: 18s; }
.fireflies li:nth-child(20) { --tx: -70px; --ty: 90px; left: 20%; top: 50%; animation-delay: 19s; } 